* {
    margin: 0px;
    padding: 0px;
}

.example-1 {
    height: 100vh;
    width: 100vw;
}

.example-1 .example-1-actions {
    padding: 4px 6px;
    margin-bottom: 1rem;
    z-index: 99999999;
    display: flex;
    background-color: rgba(0, 0, 0, 0.253);
}

.example-1 .example-1-actions label {
    font-size: smaller;
    border-radius: 5px;
    padding: 4px 12px;
    margin: 2px;
    cursor: pointer;
    background-color: white;
    display: flex;
    align-items: center;
}

.example-1 .example-1-actions select {
    border-radius: 4px;
    border: 1px solid black;
    padding: 2px 4px;
    margin: 2px;
    cursor: pointer;
    background-color: white;
}

.example-1 .example-1-actions input {
    width: 16px;
    height: 16px;
    margin-right: 5px;
}

.example-1 .example-1-actions input.text-input {
    min-width: 30px;
    min-height: 30px;
    border: 0px solid transparent;
    background-color: transparent;
    cursor: pointer;
    margin-right: 5px;
}