.cwl-code-editor-wrapper {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 0;
}

.cwl-code-editor-wrapper .cwl-code-editor-tabs {
    display: flex;
}

.cwl-code-editor-wrapper .cwl-code-editor-tabs button {
    background: none;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    color: #aaa;
}

.cwl-code-editor-wrapper .cwl-code-editor-tabs button.active {
    color: white;
    border-bottom: 2px solid white;
}

.cwl-code-editor-tabs {
    flex-shrink: 0;
    display: flex;
    border-bottom: 1px solid #333;
}

.cwl-code-editor {
    flex: 1;
    min-height: 0;
    overflow-y: auto;
}

.cwl-code-editor .cm-editor {
    height: 100%;
}

.cwl-code-editor .cm-scroller {
    overflow: auto;
}